
.updatePasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(193, 255, 255), white);
    flex-direction: column;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
}
#updatePassword{
    /* background-color: black; */
    /* font-size: 123px; */
    width: 70%;
    font:400 2vmax "cursive";
    margin: 0 auto;
    text-align: center;
    color: black;
    padding: 1vmax;
    border-bottom: 2px solid black;
}

.updatePasswordBox{
    background-color: white;
    color: black;
    width: 30vmax;
    height: 70%;
    /* box-shadow:  2px 10px gray 8px; */
    box-shadow: 1px 2px 5px black ;
    border-radius: 4px;
    text-align: center;

}


.updatePasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 80%;
    transition: all .5s;
    /* background-color: yellowgreen; */
    }


    .updatePasswordForm > div{
        display:  flex;
        align-items: center;
        padding: 1vmax 0;
        width: 100%;
        }
        
        .updatePasswordForm > div >input{
        padding: 3px 8px;
        width: 100%;
        height: 2.5vmax;
        font: 200 1vmax 'roboto';
        border-radius: 4px;
        border: 1px solid black;
        outline: none;
        }

        .updatePasswordBtn{
            width: 100%;
            height: 2.1vmax;
            background-color: aqua;
            color: black;
            box-shadow: 0 2px 5px gray ;
            cursor: pointer;
            transition: all .5s;
            outline: none;
            padding: .1vmax 0;
            align-items: center;
            border: 1px solid gray;
            border-radius: 4px;
            font: 300  14px 'roboto';
            /* margin-top: 20px; */
        }
        

        @media screen and (max-width:600px) {

            .updatePasswordBox{
                width: 95%;
            }
            #updatePassword{
                
                width: 70%;
                font:400 3vmax "cursive";
                margin: 1vmax auto;
                text-align: center;
                color: white;
                padding: 1vmax;
                border-bottom: 2px solid white;
            }
            .updatePasswordForm > div >input{
        
        padding: 3px 8px;
        width: 100%;
        height: 5.5vmax;
        font: 200 2.3vmax 'roboto';
        border-radius: 4px;
        border: 1px solid black;
        outline: none;
        }
        
        .updatePasswordBtn{
            width: 100%;
            height: 5.4vmax;
            background-color: aqua;
            color: black;
            box-shadow: 0 2px 5px gray ;
            cursor: pointer;
            transition: all .5s;
            outline: none;
            padding: .1vmax 0;
            align-items: center;
            border: 1px solid gray;
            border-radius: 4px;
            font: 300  16px 'roboto';
            /* margin-top: 20px; */
        }
        
        
        
        }


        @media screen and (max-width:1000px ) {
    
.updatePasswordBox{
    width: 50%;
}
            .updatePasswordForm > div >input{
        padding: 3px 8px;
        width: 100%;
        height: 3.8vmax;
        font: 200 1.3vmax 'roboto';
        border-radius: 4px;
        border: 1px solid black;
        outline: none;
        }
        
        
        .updatePasswordBtn{
            width: 100%;
            height: 3.8vmax;
            background-color: aqua;
            color: black;
            box-shadow: 0 2px 5px gray ;
            cursor: pointer;
            transition: all .5s;
            outline: none;
            padding: .1vmax 0;
            align-items: center;
            border: 1px solid gray;
            border-radius: 4px;
            font: 300  14px 'roboto';
            /* margin-top: 20px; */
        }
        
       
        }